@use './consts';

.BottomContainer {
  grid-column: 2/3;
  grid-row: 2/3;
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
