@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Lobster&family=Permanent+Marker&family=Tourney:ital@1&display=swap');

//font-family: 'Abril Fatface', cursive;
//font-family: 'Anton', sans-serif;
//font-family: 'Lobster', cursive;
//font-family: 'Permanent Marker', cursive;
//font-family: 'Tourney', cursive;

$f1: 'Abril Fatface', cursive;
$f2: 'Anton', sans-serif;
$f3: 'Lobster', cursive;
$f4: 'Permanent Marker', cursive;
$f5: 'Tourney', cursive;

$margin-efeitos: 1rem;
