@use './consts' as *;

.EfeitoSete {
  height: 300px;
  width: 300px;
  position: relative;
  overflow: hidden;
  margin: $margin-efeitos;

  img {
    max-width: 100%;
  }

  &__quadradinho {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: grid;
    place-items: center;
    padding: 2rem;
    text-align: justify;
    font-family: $f3;
    font-size: 1.5rem;
    transform: scale(0) rotate(720deg);
    transition: 1s;
    opacity: 0;
  }
}

.EfeitoSete:hover .EfeitoSete__quadradinho {
  transform: scale(1) rotate(0deg);
  opacity: 0.5;
}

.EfeitoSete:hover img {
  transition: 1000s;
  filter: hue-rotate(180000deg);
}
